/.idea
/A4_IITRoparxMasai_Brochure_Course.pdf
/End Module B Quiz Syllabus.pdf
/End Module C Quiz - Evaluation guidelines (3).pdf
/Generative_AI_Roadmap_1739599359.pdf
/Handbook.pdf
/notes.txt
/Sem 1
/Supervised learning
/TCS.txt
/Unsupervised learning
/venv